<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <title>Frame WebSim</title>
  </head>
  <body>

  <h1>Login to Team Account</h1>

  <div class="container">
    {% block content %}

    {% endblock %}
  </div>

  <style>

    body {
      width: 750px;
      margin: auto auto;
      font-family: 'Poppins', sans-serif;
    }

    h1 {
      text-align: center;
    }

  </style>

  </body>
</html>
