{% extends 'sim/base.html' %}
{% load static %}

{% block content %}
<div id="edit-flexbox" class="center width50">
    <form action="/sim/editLoadcases/{{ id }}">
        <input type="submit" value="Edit Loadcases">
    </form>
    <form action="/sim/save/{{ id }}">
        <input type="submit" value="Save">
    </form>
</div>

<div class="grid-container center width50">
    <div class="grid-item scroll">
        <img id="editPlot" src="">
        <h4>Full Frame Reference Information:</h4>
        <pre>{{ toString|safe }}</pre>
    </div>
    <div class="grid-item scroll">
        <form action="/sim/addNode/" method="POST">
            <h3 class="normal">Nodes</h3>
            Name: <input type="text" name="name" required/><hr>
            X Coordinate: <input type="number" step="any" name="x" required/><br>
            Y Coordinate: <input type="number" step="any" name="y" required/><br>
            Z Coordinate: <input type="number" step="any" name="z" required/><hr>
            Node is symmetric about y-axis:
            <select name="symmetric" required>
               <option value="True">Yes</option>
               <option value="False">No</option>
             </select>
            Node is required (future feature):
            <select name="required" required>
               <option value="True">Yes</option>
             </select><hr>
            Maximum deviations from locations:<br>
            -X <input type="number" step="any" name="maxXNegDev"/>
            +X <input type="number" step="any" name="maxXPosDev"/><br>
            -Y <input type="number" step="any" name="maxYNegDev"/>
            +Y <input type="number" step="any" name="maxYPosDev"/><br>
            -Z <input type="number" step="any" name="maxZNegDev"/>
            +Z <input type="number" step="any" name="maxZPosDev"/><hr>
            Node Group (move together in X):<br>
            <input type="text" name="xGroup"/>
            <input type="submit" value="Add Node"/>
        </form><hr>
        {% for name in nodes %}
        {{name}}
                 <form class="noBreak" action="/sim/deleteNode/{{ id }}/{{ name }}">
                    <input type="submit" value="Delete">
                 </form><br>

        {% endfor %}


    </div>
    <div class="grid-item">
        <form action="/sim/addTube/" method="POST">
            <h3 class="normal">Tubes</h3>
            Size:
            <select name="size" required>
                <option value="RD_5x35">0.5 x 0.035</option>
                <option value="RD_5x49">0.5 x 0.049</option>
                <option value="RD_75x35">0.75 x 0.035</option>
                <option value="RD_75x49">0.75 x 0.049</option>
                <option value="RD_1x35">1.0 x 0.035</option>
                <option value="RD_1x49">1.0 x 0.049</option>
                <option value="RD_1x65">1.0 x 0.065</option>
                <option value="RD_1x83">1.0 x 0.083</option>
                <option value="RD_1x95">1.0 x 0.095</option>
                <option value="RD_1x120">1.0 x 0.120</option>
                <option value="RD_1xSLD">1.0 x Solid</option>
             </select><hr>
            Minimum Size:
            <select name="minSize" required>
                <option value="RD_5x35">0.5 x 0.035</option>
                <option value="RD_5x49">0.5 x 0.049</option>
                <option value="RD_75x35">0.75 x 0.035</option>
                <option value="RD_75x49">0.75 x 0.049</option>
                <option value="RD_1x35">1.0 x 0.035</option>
                <option value="RD_1x49">1.0 x 0.049</option>
                <option value="RD_1x65">1.0 x 0.065</option>
                <option value="RD_1x83">1.0 x 0.083</option>
                <option value="RD_1x95">1.0 x 0.095</option>
                <option value="RD_1x120">1.0 x 0.120</option>
                <option value="RD_1xSLD">1.0 x Solid</option>
             </select><hr>
            From Node: <input type="text" name="nodeFrom" required/><br>
            To Node: <input type="text" name="nodeTo" required/><hr>
            Tube is symmetric about y-axis:
            <select required>
               <option value="True">Yes</option>
               <option value="False">No</option>
             </select><br>
            Tube is required (future feature):
            <select required>
               <option value="True">Yes</option>
             </select><hr>
            Tube Group (have same tube size):<br>
            <input type="text" name="xGroup"/>
            <input type="submit" value="Add Tube"/>
        </form>
        {% for name in tubes %}
        {{name}}
                 <form class="noBreak" action="/sim/deleteTube/{{ id }}/{{ name }}">
                    <input type="submit" value="Delete">
                 </form><br>
        {% endfor %}
    </div>
</div>

<script>
    var path = '{{ id }}/plot.png';
    document.getElementById('editPlot').src = "{% static '/models/' %}"+path;

</script>

{% endblock %}