{% extends 'sim/base.html' %}
{% load static %}

{% block content %}
<!-- chat/templates/chat/room.html -->
<div id="simComplete" class="center centerText green-wrap">
    <h2>Simulation Complete
        <i class="fas fa-chevron-right" id="first"></i>
        <i class="fas fa-chevron-right"></i>
        <i class="fas fa-chevron-right"></i>
    </h2>
    <h3 class="links">
        <a href="">Create Model from Optimized Frame</a>
        <a href="">Show Create Frame File</a>
        <a href="">Another Options?</a>
    </h3>
</div>
<div id="finishButtons">

</div>
<div id="wrapper" class="sim-grid-container">
    <div id="plot3D" class="sim-grid-item centerText">

    </div>
    <div class="sim-grid-item" id="output">
        <div class="blackout" id="timeLeftDiv">
            <h2>
                Time to completion:
                <span class="green-wrap" id="timeLeftWrapper">
                    ~ <span id="timeLeft"></span> minutes
                </span>
            </h2>
        </div>
        <div id="consoleOutput" class="blackout"></div>
    </div>
</div>
<div id="plots"></div>

<script>
    var simID = {{ id }};

    var simSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/sim/run/' + simID + '/');

    simSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['end'] == 'false') {
            var figDiv = data['figDiv'];
            document.getElementById('plots').innerHTML = figDiv;
            scr = document.createElement('script');
            scr.innerHTML = data['figScript'];
            scr.id = "scr";
            var wrapper = document.getElementById('wrapper');
            if (wrapper.lastChild.id == 'scr') {
                wrapper.removeChild(document.getElementById('scr'));
            }
            document.getElementById('wrapper').appendChild(scr);

            var imgDiv = document.getElementById('plot3D');
            imgDiv.innerHTML = "<h2>Best Frame So Far: </h2>";
            var img = document.createElement('img');
            img.className = "plot3DImage";
            var path = '1/images/fig3D-' + data['iter'] + '.png';
            img.src = "{% static '/results/' %}"+path;
            imgDiv.appendChild(img);

            document.getElementById('consoleOutput').innerHTML = data['webPrintOut'];
            document.getElementById('timeLeft').innerHTML = data['timeLeft'];
        } else {
            document.getElementById('timeLeftWrapper').innerHTML = "Complete";
            document.getElementById('finishButtons').style.display = 'flex';
            document.getElementById('simComplete').style.display = 'block';
        }
    };

    simSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>


{% endblock %}