body {
      width: 100%;
      margin: auto auto;
      font-family: 'Poppins', sans-serif;
}

h3 > a {
    margin-left: 35px;
}

i#first {
    margin-left: 20px;
}

#plot2D {
    margin-top: 30px;
}

#plot2D > div > svg {
    display: block;
    margin: auto auto;
}

.plot3DImage {
    position: relative;
    top: -150px;
    z-index: -100;
}

#timeLeftDiv {
    text-align: center;
}

header {
    top: -10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    background-color: #333333;
    color: #FAFAFA;
    height: 80px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.deleteBtn {
    display: inline !important;
}

.noBreak {
    display: inline;
}

.center {
    margin: auto auto;
}

#output {
    padding-left: 50px;
    padding-right: 200px;
}

input[type=submit] {
    border: none;
    height: 25px;
    background-color: #00e50a;
    color: #333333;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
}

input[type=submit]:hover {
    background-color: #333333;
    color: #00e50a;
}

.width50 {
    width: 50%;
}

.centerText {
    text-align: center;
}

.main-container {
    margin-top: 110px;
}

#edit-flexbox {
    display: flex;
    justify-content: space-around;
}

.delete {
    margin-top: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin: auto auto;
}

#editPlot {
    width: 600px;
    position: relative;
    right: 40px;
    bottom: 100px;
}

.scroll {
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sim-grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 95%;
    margin: auto auto;
    height: 550px;
}

#plots {
    margin-bottom: 50px;
}

.grid-item {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    border-radius: 5px;
    margin: 10px;
    max-width: 1fr;
}

.sim-grid-item {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    max-width: 1fr;
    object-fit: contain !important;
}

#finishButtons {
    display: none;
    justify-content: space-around;
}

.blackout {
    background-color: #333333;
    color: #FAFAFA;
    padding: 20px;
    border-radius: 5px;
}

.blackout#consoleOutput {
    margin-top: 20px;
    max-height: 600px;
}

.green-wrap {
    color: #00e50a;
}

#simComplete {
    display: none;
    align-items: center;
    margin-bottom: 30px;
}

#plot3D {
    width: 100%;
}

.console-output {
    overflow-y: auto;
}

.graph-wrapper {
    justify-content: left;
    padding: 10px;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #00e50a;
}

.header-grid > a {
    margin-left: 20px;
    color: #FAFAFA;
    text-decoration: none;
}

.header-grid > a:hover {
    color: #00e50a;
}

h1 {
    display: inline-block;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h2 {
    display: inline-block;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 25px;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
}

h3.normal {
    margin-left: 0px;
}

h3.links {
    display: inline-block;
    font-size: 20px;
}

h4 {
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}