body {
      width: 100%;
      margin: auto auto;
      font-family: 'Poppins', sans-serif;
}

h3 > a {
    margin-left: 20px;
}

header {
    top: -10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    background-color: #333333;
    color: #FAFAFA;
    height: 80px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.center {
    margin: auto auto;
    text-align: center;
}

.main-container {
    margin-top: 110px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin: auto auto;
}

.sim-grid-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    width: 95%;
    margin: auto auto;
}

.grid-item {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    border-radius: 5px;
    margin: 10px;
    max-width: 1fr;
}

.sim-grid-item {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    max-width: 1fr;
    object-fit: contain !important;
}

#finishButtons {
    display: none;
    justify-content: space-around;
}

.blackout {
    background-color: #333333;
    color: #FAFAFA;
    padding: 20px;
    border-radius: 5px;
}

.blackout#consoleOutput {
    margin-top: 20px;
    max-height: 600px;
}

.green-wrap {
    color: #00e50a;
}

#simComplete {
    display: none;
}

#plot3D {
    width: 100%;
}

.console-output {
    overflow-y: auto;
}

.graph-wrapper {
    justify-content: left;
    padding: 10px;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #00e50a;
}

.header-grid > a {
    margin-left: 20px;
    color: #FAFAFA;
    text-decoration: none;
}

.header-grid > a:hover {
    color: #00e50a;
}

h1 {
    display: inline-block;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h2 {
    display: inline-block;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 25px;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
}

h3.normal {
    margin-left: 0px;
}

h3.links {
    display: inline-block;
    font-size: 20px;
}

h4 {
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}